<div class="container">
  <h2 class="subtitulo">Proyectos</h2>

  <div class="row">
    <div class="col-sm12 col-md-6 col-lg-4">
      <div class="card" >
        <img src="../../../assets/AR_Monochromatic.svg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Proyecto 1</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm12 col-md-6 col-lg-4">
        <div class="card" >
          <img src="../../../assets/Designer _Isometric.svg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Proyecto 2</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm12 col-md-6 col-lg-4">
        <div class="card" >
          <img src="../../../assets/Artifical inteligence_Flatline.svg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Proyecto 3</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
  </div>
</div>
