:root {
    scroll-behavior: smooth;
  }
  
  *{
    font-family: 'Marvel', sans-serif;
    font-size: 25px;
  }
  
  /*=========================HEADER================================*/
  
  
  .banner {
    height: 100vh;
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.521) 0%, #470a6bd2 100%),
      url(assets/banner12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-shadow: 2px 2px 3px black;
    margin-top: 50px;
  }
  
  
  .nombre {
    font-size: 100px;
    color: white;
    font-weight: 1000;
  }
  
  .titulo {
    font-weight: 300;
    font-size: 50px;
  }
  
  .texto {
    padding-top: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
  }
  
  /*=========================SECCIONES================================*/
  
  
  
  .subtitulo {
    background-color:lightgrey;
    text-align: center;
    font-weight: 400;
    color: white;
    text-shadow: 2px 2px 3px black;
    margin-bottom: 40px;
    margin-top: 80px;
    font-size: 60px;
    box-shadow: 5px 5px 15px black;

  }

  .row{
    padding: 2em;
}

h3, h5{
    display: inline;
}

.card{
  box-shadow: 5px 5px 15px black;
}
  
  
  /*=========================FOOTER================================*/
  
  #contacto{
    padding: 0;
  }
  
  footer {
    background: black;
    min-height: 300px;;
  }
  footer p{
    color:#f3f3f3;
    text-align:center;
  }
  #iconos img  {
    font-size: 20px;
    padding: 2em 6px;
    color:#f3f3f3;
    margin: 1em;
  }
  
  