<div class="fixed-top" id="barra">
  <div>
    <img src="../../../assets/APLogo.png" alt="" id="logoAP" />
  </div>
  <div class="elementos">
    <a href="{{ persona.linkedin }}"
          ><img src="../../../assets/linkedin.png" alt="" id="linkedin"
        /></a>
        <a href="{{ persona.github }}"
          ><img src="../../../assets/github1.png" alt="" id="github"
        /></a>
        <a href="{{ persona.instagram }}"
          ><img src="../../../assets/instagram.png" alt="" id="instagram"
        /></a>
  
    <button type="button" class="btn btn-outline-light" 
    (click)="login()" *ngIf="!isLogged">Iniciar Sesión</button>
    <button type="button" class="btn btn-outline-light" 
    (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>
       
  </div>
</div>
