<div class="container">
  <div class="row">
    <h2 class="subtitulo">Contacto</h2>
    <footer
      class="w-100 d-flex align-items-center justify-content-center flex-wrap"
      id="contacto"
    >
      <p class="fs-5 px-3 pt-3">
        Luciana Caminos Cano | Portfolio para Argentina Programa #YoProgramo
        2022
      </p>

      <div>
        <a href=""
          ><img src="../../../assets/linkedin.png" alt="" id="linkedin"
        /></a>
        <a href=""
          ><img src="../../../assets/github1.png" alt="" id="github"
        /></a>
        <a href=""
          ><img src="../../../assets/instagram.png" alt="" id="instagram"
        /></a>
        <a href=""
          ><img src="../../../assets/whats2.png" alt="" id="whatsapp"
        /></a>
        <a href=""
          ><img src="../../../assets/email (1).png" alt="" id="email"
        /></a>
      </div>
    </footer>
  </div>
</div>
