<div class="container">
  <h2 class="subtitulo">Habilidades</h2>

  <div class="row">
    <div>
      <h5>FrontEnd</h5>
    </div>
    <div class="text-center col-sm4 col-md-3 col-lg-3">
      <circle-progress
        [percent]="70"
        [radius]="100"
        [showSubtitle]="false"
        [showUnits]="false"
        [showImage]="true"
        [imageSrc]="'../assets/bxl-html5.svg'"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#bf2b7a'"
        [innerStrokeColor]="'pink'"
        [animation]="true"
        [animationDuration]="400"
        [radius]="65"
      ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-3 col-lg-3">
      <circle-progress

        [percent]="70"
        [radius]="65"
        [showSubtitle]="false"
        [showUnits]="false"
        [showImage]="true"
        [imageSrc]="'../assets/bxs-file-css.svg'"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#bf2b7a'"
        [innerStrokeColor]="'pink'"
        [animation]="true"
        [animationDuration]="400"
      ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-3 col-lg-3">
      <circle-progress
    
        [percent]="70"
        [radius]="65"
        [showSubtitle]="false"
        [showUnits]="false"
        [showImage]="true"
        [imageSrc]="'../assets/bxs-file-js.svg'"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#bf2b7a'"
        [innerStrokeColor]="'pink'"
        [animation]="true"
        [animationDuration]="400"
      ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-3 col-lg-3">
      <circle-progress
 
        [percent]="70"
        [radius]="65"
        [showSubtitle]="false"
        [showUnits]="false"
        [showImage]="true"
        [imageSrc]="'../assets/bxl-html5.svg'"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#bf2b7a'"
        [innerStrokeColor]="'pink'"
        [animation]="true"
        [animationDuration]="400"
      ></circle-progress>
    </div>
  </div>

  <div class="row">
    <div>
      <h5>BackEnd</h5>
    </div>
    <div class="text-center col-sm4 col-md-3 col-lg-3">
      <circle-progress
        [percent]="70"
        [radius]="65"
        [showSubtitle]="false"
        [showUnits]="false"
        [showImage]="true"
        [imageSrc]="'../assets/bxl-html5.svg'"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#338199'"
        [innerStrokeColor]="'aqua'"
        [animation]="true"
        [animationDuration]="400"
      ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-3 col-lg-3">
      <circle-progress
        [percent]="70"
        [radius]="65"
        [showSubtitle]="false"
        [showUnits]="false"
        [showImage]="true"
        [imageSrc]="'../assets/bxs-file-css.svg'"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#338199'"
        [innerStrokeColor]="'aqua'"
        [animation]="true"
        [animationDuration]="400"
      ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-3 col-lg-3">
      <circle-progress
        [percent]="70"
        [radius]="65"
        [showSubtitle]="false"
        [showUnits]="false"
        [showImage]="true"
        [imageSrc]="'../assets/bxs-file-js.svg'"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#338199'"
        [innerStrokeColor]="'aqua'"
        [animation]="true"
        [animationDuration]="400"
      ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-3 col-lg-3">
      <circle-progress
        [percent]="70"
        [radius]="65"
        [showSubtitle]="false"
        [showUnits]="false"
        [showImage]="true"
        [imageSrc]="'../assets/bxl-html5.svg'"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#338199'"
        [innerStrokeColor]="'aqua'"
        [animation]="true"
        [animationDuration]="400"
      ></circle-progress>
    </div>
  </div>
  <div class="row">
    <div>
      <h5>Soft Skills</h5>
    </div>
    <div class="text-center col-sm4 col-md-3 col-lg-3">
      <circle-progress
        [percent]="70"
        [radius]="65"
        [showSubtitle]="false"
        [showUnits]="false"
        [showImage]="true"
        [imageSrc]="'../assets/bxl-html5.svg'"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#3fbf3f'"
        [innerStrokeColor]="'green'"
        [animation]="true"
        [animationDuration]="400"
      ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-3 col-lg-3">
      <circle-progress
        [percent]="70"
        [radius]="65"
        [showSubtitle]="false"
        [showUnits]="false"
        [showImage]="true"
        [imageSrc]="'../assets/bxs-file-css.svg'"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#3fbf3f'"
        [innerStrokeColor]="'green'"
        [animation]="true"
        [animationDuration]="400"
      ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-3 col-lg-3">
      <circle-progress
        [percent]="70"
        [radius]="65"
        [showSubtitle]="false"
        [showUnits]="false"
        [showImage]="true"
        [imageSrc]="'../assets/bxs-file-js.svg'"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#3fbf3f'"
        [innerStrokeColor]="'green'"
        [animation]="true"
        [animationDuration]="400"
      ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-3 col-lg-3">
      <circle-progress
        [percent]="70"
        [radius]="65"
        [showSubtitle]="false"
        [showUnits]="false"
        [showImage]="true"
        [imageSrc]="'../assets/bxl-html5.svg'"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#3fbf3f'"
        [innerStrokeColor]="'green'"
        [animation]="true"
        [animationDuration]="400"
      ></circle-progress>
    </div>
  </div>
</div>
